@{
    ViewData["Title"] = "Log In";
}
<h1>@ViewData["Title"]</h1>

<p>Under construction. We are hard at work!</p>
<img src="https://image.shutterstock.com/image-illustration/3d-illustration-rendering-webpage-under-260nw-471103880.jpg"/>